include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include requirements/requirements.txt
include requirements/devel.txt
include pyproject.toml
include pytest.ini
include pylintrc

recursive-include kaiwu *.py
recursive-include tests *.py
recursive-include example *.py *.ipynb

global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.egg-info 